.container {
  width: 100%;
  max-width: 650px;
  margin: auto;
  padding: 12px;
}

input, select, textarea, button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}

@media(max-width: 480px) {
  h1 { font-size: 22px; }
  button { font-size: 15px; }
}
