body{
    font-family: Arial, sans-serif;
    width: 380px;
    margin: auto;
    text-align: center;
}
input{
    padding: 10px;
    width: 240px;
    font-size: 16px;
}
button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
